.orders-history {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.history-container {
    border-radius: 15px;    
    margin: auto;
    margin-top: 39px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(240, 248, 255, 0); */
    background-color: rgba(31, 31, 31, 0.724);
    /* box-shadow: 0px 0px 30px -15px rgb(36, 36, 36); */
}

.history-container :first-child {
    margin-top: 0px;
}

.order-card {
    /* border-radius: 9px; */
    display: grid;
    grid-template-columns: 79% 21%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 5px 11px -5px rgba(0, 0, 0, 0.475);
    background-color: rgba(31, 31, 31, 0.724);
    margin: auto;
    margin-top: 19px;
    width: 100%;
    color: azure;
}

.order-det {
    display: grid;
    grid-template-rows: 20% 40% 20% 20%;
}

.order-det div {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    max-width: 100%;
}

.order-det :nth-child(2) {
    width: 83%;
    display: block;
    font-size: 17px;
    margin-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-det p {
    display: flex;
    font-size: 17px;
    margin-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
}

.r-card {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.ord-stat,
.cancel-btn button,
.preview-btn button {
    font-size: 16px;
    width: 85px;
    height: 30px;
    border: none;
}

.ord-stat {
    margin: auto;
    width: 100%;
}

.order-status {
    color: aliceblue;
    animation-name: animate-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 9px;
    position: relative;

}

.done {
    color: aliceblue;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 9px;
    position: relative;
    background-color: gray;
}

.cancel-btn button {
    background-color: rgb(82, 82, 82);
    color: aliceblue;
    border-radius: 7px;
}

.cancel-btn button:hover {
    background-color: rgba(190, 23, 56, 0.818);
}

.preview-btn button {
    color: aliceblue;
    background-color: rgb(82, 82, 82);
    border-radius: 7px;
}

.preview-btn button:hover {
    color: aliceblue;
    background-color: rgba(17, 123, 159, 0.811);
}

@keyframes animate-color {
    0% {
        background-color: rgba(178, 26, 208, 0.938);
    }

    100% {
        background-color: rgb(133, 19, 156);
    }
}


.prev-window {
    position: fixed;
    border-radius: 20px;
    width: 600px;
    background-color: rgb(226, 222, 221);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 49;
    transition: all 400ms ease-in-out;
}
.prev-window.show {
    position: calc(45, 100);
    border-radius: 20px;
    width: 600px;
    max-height: 700px;
    padding-bottom: 40px;
    overflow: auto;
    box-shadow: 0px 0px 10px 8800px rgba(0, 0, 0, 0.45);
    background-color: rgb(238, 238, 238);
    opacity: 100;
    z-index: 10;
    visibility: visible;
}

.rev-win {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 20px;
    width: 600px;
    padding: 30px;
    box-shadow: 0px 0px 10px 8800px rgba(0, 0, 0, 0.45);
    background-color: rgb(238, 238, 238);
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: all 400ms ease-in-out;
}

.rev-win.show {
    visibility: visible;
    opacity: 100;
}