.container {
    display: flex;
    grid-column: 500px 500px;
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    box-shadow: 1px 1px 50px rgba(103, 103, 103, 0.097);
    margin-top: 50px;
    padding-top: 10px;
}

.product {
    margin-top: 20px;
    min-width: 450px;
    flex: 1;
    display: flex;
    height: 200px;
    padding-left: 10px;
    box-shadow: 10px 10px 29px -19px rgba(0, 0, 0, 0.225);
}

.det {
    display: flex;
    flex-direction: column;
}

.det div h6 {
    font-size: 16px;
    font-weight: 600;
}

.det:nth-child(2) {
    position: relative;
    bottom: 0;
}

.description {
    display: flex;
    height: 150px;
    padding: 20px 20px 0px 10px;
}

.description p {
    font-size: 13px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.carting {
    margin-left: auto;
    padding-right: 10px;
}

.carting :nth-child(2){
    background-color: rgb(32, 174, 84);
    border-radius: 50px;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    color: white;
}

.carting :nth-child(3) {
    background-color: rgb(184, 38, 38);
    border-radius: 50px;
    width: 23px;
    height: 23px;
    margin-left: 5px;
    color: white;
}

.carting :nth-child(2):hover,
.carting :nth-child(3):hover {
    cursor: pointer;
}