.add-prod-page {
    height: 100%;
}

.formContainer {
    position: relative;
    max-width: 1300px;
    min-width: 600px;
    margin: auto;
    margin-top: 100px;
    border: none;
    box-shadow: 1px 1px 40px rgba(174, 174, 174, 0.268);
    background-color: rgb(224, 226, 228);
}

.addForm input {
    border: 0;
    outline: 0;
    margin-left: 10px;
    height: 30px;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgba(223, 57, 223, 0.609);
    font-size: 14px;
    font-weight: 100;
    width: 150px;
}

.addForm input:focus {
    border-bottom: 2px solid rgba(223, 57, 223, 0.609) !important;
}

.addForm {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.upper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
    margin: auto;
}


.upper div label {
    font-size: 16px;
    font-weight: 500;
    margin: auto;
}

.upper div input [type='text'] {
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgba(223, 57, 223, 0.609);
    font-size: 14px;
    font-weight: 100;
    width: 150px;
}

.ctg-chk-lst {
    width: 120px;
    display: flex;
    padding: 7px;
    position: relative;
    background-color: rgba(184, 181, 181, 0.646);
    border-radius: 10px;
    z-index: 1000;

}

.ctg-chk-lst:hover {
    background-color: rgb(186, 186, 186);
}

.upper [type='checkbox'] {
    appearance: initial;
    width: 16px;
    height: 16px;
    border-radius: 10%;
    border-bottom: none !important;
    border: none !important;
    background-color: #ffffff;
    transition: all 200ms ease, all 200ms ease;
    z-index: 1000;
}

.upper [type='checkbox']:checked {
    background-color: rgb(197, 59, 195);
}

.upper [type='checkbox']:focus {
    border-bottom: none !important;
}

.ctg-chk {
    position: absolute;
    width: 120px;
    height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgba(184, 181, 181, 0.646);
    border-radius: 10px;
    display: flex;
    visibility: visible;
    flex-direction: column;
}

.ctg-chk.hidden {
    display: none;
}

.ctg-chk li {
    display: flex;
    position: relative;
}

.ctg-chk li span {
    display: flex;
    position: relative;
    left: 5px;
    font-size: 13px;
}

.middle {
    margin-top: 50px;
}

.middle div {
    display: flex;
    flex-direction: column;
}

.middle div label {
    font-size: 16px;
    font-weight: 500;
}

.middle div textarea {
    margin: auto;
    margin-top: 10px;
    resize: none;
    height: 250px;
    width: 80%;
    outline: 0;
    padding-bottom: auto;
    background-color: rgba(240, 248, 255, 0.412);
    border-top: none;
    border-left: 1px solid rgba(223, 57, 223, 0.285);
    border-bottom: 1px solid rgba(223, 57, 223, 0.285);
    border-right: 1px solid rgba(223, 57, 223, 0.285);
    
}

.middle div textarea::-webkit-scrollbar {
    width: 6px;
}
.middle div textarea::-webkit-scrollbar-track {
    background: #f4f4f9; 
}
.middle div textarea::-webkit-scrollbar-thumb {
    background-color: rgba(163, 106, 216, 0.816);
}
.middle div textarea::-webkit-scrollbar-thumb:hover {
    cursor: initial;
}


div::-webkit-scrollbar {
    width: 6px;
}
div::-webkit-scrollbar-track {
    background: #f4f4f9; 
}
div::-webkit-scrollbar-thumb {
    background-color: rgba(163, 106, 216, 0.816);
}
div::-webkit-scrollbar-thumb:hover {
    cursor: initial;
}



.lower {
    position: relative;
    padding-top: 30px;
    display: flex;
}

.lower div {
    display: flex;
    margin-left: 10%;
}

.lower div:nth-child(2) label {
    margin: auto;
    color:rgba(240, 248, 255, 0);
}
.lower div:nth-child(2) input {
    color:rgba(240, 248, 255, 0);
}

.file-input-wrapper {
    position: inherit;
    left: 30px;
    display: flex;
}

.file-input-wrapper p {
    margin-right: 10px;
    margin-top: 10px;
}

.file-input-button {
    border: none;
    display: inline-block;
    background-color: #6a0dad;
    color: white;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

.file-input-button:hover {
    background-color: #4e0884;
}

.add-err-div {
    color: red;
    padding-top: 20px;
    font-size: 16px;
}

.addForm :nth-child(5) button {
    background-color: rgba(75, 172, 75, 0);
    border: none ;
    /* border: 1px groove rgba(75, 172, 75, 0.797) ; */
    font-size: 18px;
    border-radius: 3px;
    color: #6a0dadd0;
    font-weight: 500;
    padding: 10px;
    transition: 200ms ease-in-out;
}

.addForm :nth-child(5) button:hover {
    background-color: #6a0dadd0;
    color:rgb(224, 226, 228);
}