.reg-body {
    height: 100vh;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%236a0dad" fill-opacity="1" d="M0,160L80,186.7C160,213,320,267,480,272C640,277,800,235,960,202.7C1120,171,1280,149,1360,138.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>');
    background-size: cover;
}

.reg-hd {
    color: rgb(77, 25, 103);
    font-size: 19px;
    padding: 30px;
    font-weight: 500;
}

.reg-div {
    width: 400px;
    background-color: rgba(240, 248, 255, 0.879);
    margin: auto;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.616);
    /* padding-top: 30px; */
    margin-top: 70px;
    border-radius: 10px;
}

.label-div1 {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: auto;
}

.label-div1 select {
    border: none;
    outline: none;
    padding: 3px;
    background-color: rgba(160, 43, 156, 0.902);
    color: aliceblue;
}

.label-div1 select option {
    background-color: rgba(160, 43, 156, 0.902);
    color: aliceblue;
}

.label-div1 select option:hover {
    background-color: rgba(108, 28, 105, 0.902);
}

.reg-div input {
    padding: 7px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 250px;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 2px solid rgb(90, 27, 149);
}

.reg-inpts {
    padding-top: 20px;
}

.reg-err-div {
    color: rgb(232, 14, 14);
    background-color: rgba(205, 21, 21, 0);
    font-weight: 500;
    width: 250px;
    margin: auto;
    /* border-radius: 5px; */
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}

.sb-reg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sb-reg button{
    border-radius: 3px;
    padding: 5px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 21px;
    border: none;
    background-color: rgb(167, 50, 167);
    color: aliceblue;
}