.reg-body {
    height: 100vh;
    background-size: cover;
}

.reg-hd {
    color: rgb(77, 25, 103);
    font-size: 19px;
    padding: 30px;
    font-weight: 500;
}

.reg-div {
    z-index: 40;
    width: 700px;
    height: 100vh;
    background-color: rgba(240, 248, 255, 0.879);
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.616);
    /* padding-top: 30px; */
    /* border-radius: 10px; */
}

.label-div1 {
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: auto;
}

.label-div1 select {
    border: none;
    outline: none;
    padding: 9px;
    background-color: rgba(139, 52, 206, 0.902);
    color: aliceblue;
}

.label-div1 select option {
    border-radius: 4px;
    background-color: rgba(134, 34, 173, 0.902);
    color: aliceblue;
}

.reg-div input {
    padding: 7px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 390px;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 2px solid rgb(90, 27, 149);
}

.reg-inpts {
    padding-top: 20px;
}

.reg-err-div {
    color: rgb(232, 14, 14);
    background-color: rgba(205, 21, 21, 0);
    font-weight: 500;
    width: 250px;
    margin: auto;
    /* border-radius: 5px; */
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}

.sb-reg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sb-reg button{
    border-radius: 3px;
    padding: 8px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 21px;
    border: none;
    background-color: rgb(167, 50, 167);
    color: aliceblue;
    width: 390px;
}