body {
    margin: 0;
    background-color: #f4f4f9;
}

.logbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2626268e;
    color: #000000;
    height: 66px;
    width: 1300px;
    margin: auto;
}

.brand:hover {
    cursor: pointer;
}

.nav-link:hover,
.nav-link.hovered {
    color: wheat;
}

.mail_us {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    float: left;
    transition: all 0.3s ease, all 0.3s ease;
    width: 200px;
    height: 45px;
    opacity: 70%;
    border-right: solid 1px rgba(0, 0, 0, 0.169);
}

.mail_us>span {
    position: relative;
    margin: auto;
    right: 10px;
}

.contact {
    position: relative;
    width: 36px;
    height: 36px;
    margin: auto;
}

.mail_us:hover {
    background-color: rgba(187, 187, 187, 0.107);
    cursor: pointer;
    border-radius: 10px;
}

#logIco {
    display: flex;
    position: absolute;
    float: left;
    left: 260px;
    height: 100%;
    opacity: 80%;
}

#logIco>div {
    margin: auto;
}

.login-icon {
    width: 46px;
    cursor: pointer;
}

.call {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-right: 15px;
}