.pop-container {
    max-width: calc(4 * 290px + 4 * 10px);
    min-width: 390px;
    padding-bottom: 20px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    border-radius: 6px;
    /* box-shadow: 0px 3px 2px -2px rgba(128, 128, 128, 0.276); */
}

.pop-head {
    display: flex;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    color: rgb(255, 255, 255);
    align-items: center;
}

.lst-pop {
    font-size: 16px;
    position: absolute;
    /* bottom: 10px; */
    right: 0px;
    color: rgba(251, 251, 251, 0.968);
    text-decoration: underline;
}

.lst-pop:hover {
    cursor: pointer;
}

.lst-pop img {
    width: 20px;
}

.pop-prod {
    display: ruby;
    ruby-align: start;
    margin: auto;
    position: relative;
    height: 320px;
}


.product {
    display: block;
    color: white;
    position: relative;
    /* padding-top: 20px; */
    margin-top: 10px;
    width: 290px;
    height: 426px;
    background-color: rgba(34, 34, 34, 0.072);
    box-shadow: 0px 0px 20px -19px rgba(0, 0, 0, 0.225);
    transition: all 200ms ease, all 200ms ease;
    margin-left: 10px;
    border-radius: 3px;
}

.prod-img-div {
    display: flex; 
    position: relative;
    width: 100%;
    height: 260px;
    /* text-align: center; */
}

.prod-img-div >img {
}

.product img {
    position: relative;
    max-height: 230px;
    margin: auto;
}

.det {
    position: relative;
    width: 300px;
    flex-direction: column;
    text-align: center;
}

.det div {
    display: flex;
    height: 50px;
    width: 250px;
    margin: auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.det div h6 {
    text-align: center;
    position: relative;
    /* top: 245px; */
    font-size: 15px;
    font-weight: 400;
}


.cartHovered {
    position: absolute;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.073);
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0%;
    transition: all 300ms ease, all 300ms ease;
    z-index: 1;
}

.cartHovered img {
    transform: scale(0) translate(0, -30px);
    transition: all 200ms ease-in-out;
}

.cartHovered.show {
    visibility: visible;
    opacity: 100%;
}

.cartHovered.show img {
    transform: scale(1) translate(0, -30px);
}


.viewDetailsImg {
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: relative;
    max-width: 60px;
    max-height: 60px;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}

.viewDetailsImg:hover {
    cursor: pointer;
}


.carting {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 30px;
}

.starsRating {
    position: relative;
}

.prod-q {
    left: 35px;
    position: relative;
    font-size: 13px;
}

.prod-q p {
    margin: auto;
}

.p-price {
    display: flex;
    position: relative;
    padding-right: 70px;
    padding-left: 40px;
    /* justify-content: space-evenly; */
}

.discount_price {
    color: red;
    text-decoration: line-through;
}

.product button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 58, 182, 0.074);
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    border: none;
    position: relative;
    top: 9px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    font-size: 16px;
    transition: all 200ms ease, all 200ms ease;
    padding: 7px;
    font-weight: 600;
}

.product button:hover {
    cursor: pointer;
    background-color: rgb(198, 86, 217);
}