.delivery-orders1 {
    height: 100%;
    /* background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%236a0dad" fill-opacity="1" d="M0,160L80,186.7C160,213,320,267,480,272C640,277,800,235,960,202.7C1120,171,1280,149,1360,138.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>'); */
    background-size: cover;
}

.not-assigned {
    border-radius: 5px;
    font-size: 38px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(238, 237, 237);
    width: 1300px;
    padding: 50px;
    margin: auto;
    margin-top: 80px;
    /* box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.496); */
}

.pending-container {
    margin: auto;
    margin-top: 50px;
    max-width: 1300px;
    min-width: 600px;
    padding-bottom: 50px;
}

.pending-card1 {
    text-align: left;
    padding-top: 30px;
    max-width: 1300px;
    min-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.691);
    background-color: rgba(255, 255, 255, 0.907);
    margin-top: 30px;
}

.detail-div {
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.pend-stat div button {
    padding: 5px;
    margin-top: 20px;
    border: 0;
    font-size: 18px;
}

.pend-stat :first-child {
    position: relative;
}

.pend-stat :first-child button {
    color: rgb(243, 242, 242);
    background-color: green;
    display: flex;
    flex-direction: row;
    height: 46px;
}

.pend-stat :first-child button:hover {
    background-color: rgb(5, 102, 5);
}

.pend-stat :first-child p {
    text-indent: 11px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -5px;
}

.pend-stat :nth-child(2) button {
    color: rgb(243, 242, 242);
    background-color: rgb(171, 37, 167);
    left: 60px;
    height: 46px;
}

.content-ord {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: aliceblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.379);
    z-index: 1000;
}

.pendix-btn {
    width: 100%;
    position: relative;
}

.pendix-btn img {
    width: 25px;
    position: absolute;
    right: -10px;
    top: -15px;
}

.pendix-btn img:hover {
    cursor: pointer;
    background-color: rgba(16, 16, 16, 0.335);
}

.del-ord-cont {
    transition: all 200ms, all 200ms;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.314);
    text-align: start;
}

.del-ord-cont div {
    padding: 10px;
}