.mer-bst-body {
    height: 100%;
    background-color: rgb(38, 46, 65);
}

.bst-sell-head {
    display: flex;
    background-color: rgb(38, 46, 65);
    position: relative;
    margin: auto;
    width: 1300px;
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(225, 225, 225);
    background-color: rgba(0, 0, 0, 0.488);
    /* letter-spacing: 5px; */
}

.mer-bst-cont {
    background-color: aliceblue;
    padding: 20px;
    margin: auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.mer-bst-card {
    display: flex;
    flex-wrap: nowrap;
    width: 550px;
    padding: 6px;
    height: 156px;
    background-color: rgba(237, 231, 240, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0.832);
}

.mer-bst-img {
    display: flex;
}

.mer-bst-img img {
    border-radius: 5px;
    max-width: 140px;
    max-height: 140px;
    margin: auto;
}

.bst-scnd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
}

.bst-scnd div {
    font-size: 15px;
    font-weight: 500;
}

.bst-thrd {
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    width: 180px;
}

.bst-thrd div {
    font-size: 15px;
    font-weight: 500;
}